<h1> Posts </h1>
<p> <%= link_to 'Add new post', new_post_path %> </p>

<%- if @collection.any? %>
  <table>
    <thead>
      <tr>
        <th Title <th/>
        <th><th/>
      </tr>
    </thead>
    <tbody>
      <%- @collection.each do |post| %>
        <tr>
          <td>
            <%= inline_editor(as: :select, text: post.title, value: post.title, collection: Post::ABOUT,
              save_url: inline_update_post_path(post), include_blank: false, attribute: 'title') do %>
            <% end %>
          </td>
          <td>
            <%= link_to 'edit', edit_post_path(post) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
