<header>
  <div class="logo">
    <%= link_to 'Inline Editor', root_path %>
  </div>
  <nav>
    <%= link_to 'Posts', posts_path %>
    <%= link_to 'Posts with Bootstrap v4', bootstrap_posts_path %>
  </nav>
</header>
