<header>
  <div class="logo">
    <%= link_to 'Inline Editor', root_path %>
  </div>
  <nav>
    <%= link_to 'Posts', posts_path %>
    <%= link_to 'Pots with Bootstrap v4', posts_path %>
  </nav>
</header>
