<div class="inline-editor-container">
  <div class='clickable-item'>
    <%= raw text %>
  </div>
  <div class='form display-none'>

    <%- if local_assigns[:as] == :select %>
      <%= select_tag '', options_for_select(collection, value),
        class: 'form-control select', include_blank: include_blank, data: { url: save_url, param: param }
      %>
    <% end %>

    <%- if local_assigns[:as] == :grouped_select %>
      <%= select_tag '', grouped_options_for_select(collection, value),
        class: 'form-control select', include_blank: include_blank, data: { url: save_url, param: param }
      %>
    <% end %>
  </div>
</div>
